/* Global Styles */
body {
    font-family: "Roboto",Arial,Verdana,sans-serif;
    background: lightblue;
}


/* Button Styles */
button {
    width: 150px;
}

.all:hover {
    background: lightpink;
}

.online:hover {
    background: lightgreen;
}

.offline:hover {
    background: lightgrey;
}

/* Players and Image */
.players-online {
    background: #a0daa9;
}

.players-offline {
    background: #f5dfad;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

#streaming {
    font-style: italic;
}

#name, #streaming {
    line-height: 25px;
    height: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: navy;
}