/* Global Styles */
body {
    font-family: "Roboto",Arial,Verdana,sans-serif;
}

/* Button Styles */
button {
    width: 1.25rem;
}

.all:hover {
    color: lightpink;
}

.online:hover {
    color: lightgreen;
}

.offline:hover {
    color: lightgrey;
}