/* Global Styles */
body {
    font-family: "Roboto",Arial,Verdana,sans-serif;
}

/* Button Styles */
button {
    width: 150px;
}

.all:hover {
    background: lightpink;
}

.online:hover {
    background: lightgreen;
}

.offline:hover {
    background: lightgrey;
}